@{
    ViewBag.Title = "Home";
}
<section id="banner" class="banner">
    <div class="container">
        <div class="row">
            <div class="main_banner_area text-center">
                <div class="col-md-12 col-sm-12">
                    <div class="single_banner_text wow zoomIn" data-wow-duration="1s">
                        <h2>WE'RE YOUR FAITHFUL</h2>
                        <h2>SERVICE BOOK!</h2>
                        <h5>WE OFFER FOR YOU FRESH </h5>
                        <h5>PREMIUM QUALITY WEBPAGE</h5>

                        <div class="separetor"></div>
                    </div>
                </div>


                <div class="scrolldown">
                    <a href="#abouts" class="scroll_btn"></a>
                </div>
            </div>


        </div>
    </div>
</section><!-- End of Banner Section -->


<section id="abouts" class="abouts">
    <div class="container">
        <div class="row">
            <div class="main_abouts_content">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_about wow fadeInLeft" data-wow-duration="1s">
                        <h2>ABOUT SERVICE BOOK</h2>
                        <div class="separetor2"></div>
                        <p>The page contains datas about vehicles and services. Help to search easier old repairs about vehicles and services. Remind the owner about obligatorial services in email or/and SMS.</p>

                        <a href="" class="btn pink-btn">LERAN MORE !</a>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_abouts wow fadeInRight" data-wow-duration="1s">
                        <img src="~/Content/images/ab.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="wedo">
    <div class="container">
        <div class="row">
            <div class="head_title text-center wow fadeIn" data-wow-duration="1.5s">
                <h2>WHAT WE DO</h2>
                <div class="separetor"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry been the industry's standard dummy text </p>
            </div>
            <div class="wedo_content_area">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_wedo wow fadeIn" data-wow-duration="1s">
                        <div class="single_left_icon">
                            <a href=""><i class="fa fa-star"></i></a>
                        </div>

                        <div class="single_right_text">
                            <h4>UI / UX DESIGN</h4>
                            <div class="separetor2"></div>
                            <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_wedo wow fadeIn" data-wow-duration="1s">
                        <div class="single_left_icon">
                            <a href=""><i class="fa fa-star"></i></a>
                        </div>

                        <div class="single_right_text">
                            <h4>UI / UX DESIGN</h4>
                            <div class="separetor2"></div>
                            <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_wedo wow fadeIn" data-wow-duration="1s">
                        <div class="single_left_icon">
                            <a href=""><i class="fa fa-star"></i></a>
                        </div>

                        <div class="single_right_text">
                            <h4>UI / UX DESIGN</h4>
                            <div class="separetor2"></div>
                            <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single_wedo wow fadeIn" data-wow-duration="1s">
                        <div class="single_left_icon">
                            <a href=""><i class="fa fa-star"></i></a>
                        </div>

                        <div class="single_right_text">
                            <h4>UI / UX DESIGN</h4>
                            <div class="separetor2"></div>
                            <p>Lorem Ipsum is simply dummy text thprinting andthe industry's standard dummy text lorem Ipsum is simply dummy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="counterUp" class="counterUp">
    <div class="counter_overlay">
        <div class="container">
            <div class="row">
                <div class="main_counter_content">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="sinle_counter wow fadeIn" data-wow-duration="1s">
                            <h4><i class="fa fa-star"></i><span class="static-counter">158</span></h4>
                            <p>SERVICE PLACE</p>
                            <div class="separetorwhite"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="sinle_counter wow fadeIn" data-wow-duration="1.8s">
                            <h4><i class="fa fa-star"></i><span class="static-counter">580</span></h4>
                            <p>CAR</p>
                            <div class="separetorwhite"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="sinle_counter wow fadeIn" data-wow-duration="2.2s">
                            <h4><i class="fa fa-star"></i><span class="static-counter">1500</span></h4>
                            <p>SERVICE</p>
                            <div class="separetorwhite"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="sinle_counter wow fadeIn" data-wow-duration="2.8s">
                            <h4><i class="fa fa-star"></i><span class="static-counter">1000</span></h4>
                            <p>OWNER</p>
                            <div class="separetorwhite"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Contact form -->
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="head_title text-center wow zoomIn" data-wow-duration="0.5s">
                    <h2>Get In Touch With Us</h2>
                    <div class="separetor"></div>
                    <p>We are here to help. Want to learn more about our services? Please get in touch, we'd love to hear from you!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="messsage_contant">
                <div class="col-md-7 col-sm-7">
                    <div class="single_message_left wow fadeIn" data-wow-duration="1s">
                        <form action="#" id="formid">
                            <!--<div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">-->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="first name" required="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                            </div>

                            <div class="center-content">
                                <input type="submit" value="SUBMIT NOW" class="btn btn-lg">
                            </div>
                            <!--</div>-->
                        </form>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5">
                    <div class="single_message_right wow fadeIn" data-wow-duration="1s">

                        <p>
                            <i class="fa fa-map-marker"></i>
                            1513, Kollo
                            <span>Gyergyocsomafalva, Harghita, Romania</span>
                        </p>
                        <p><i class="fa fa-envelope-o"></i>norco95@gmail.com</p>
                        <p><i class="fa fa-phone"></i>+40748323407</p>

                    </div>
                </div>
            </div> <!-- End of messsage contant-->
        </div>
    </div>
</section>


<!-- STRAT SCROLL TO TOP -->

<div class="scrollup">
    <a href="#"><img src="~/Content/images/scrollup.png" /></a>
</div>