<form>
    <div class="form-group">
        <label for="VIN">VIN:</label>
        <input type="text" class="form-control" id="VIN" data-bind="value: VIN" >
    </div>
    <div class="form-group">
        <label for="Identifier">Identifier:</label>
        <input type="text" class="form-control" id="Identifier" data-bind="value: Identifier">
    </div>
    <div class="form-group">
        <label for="OwnerFirstName">Owner First Name:</label>
        <input type="text" class="form-control" id="OwnerFirstName" data-bind="value: owner.firstName" >
    </div>
    <div class="form-group">
        <label for="OwnerLastName">Owner Last Name:</label>
        <input type="text" class="form-control" id="OwnerLastName" data-bind="value: owner.lastName">
    </div>
    <div class="form-group">
        <label for="OwnerPhonenumber">Owner Phone:</label>
        <input type="text" class="form-control" id="OwnerPhone" data-bind="value: owner.phoneNumber">
    </div>
    <div class="form-group">
        <label for="OwnerEmail">Owner Email:</label>
        <input type="email" class="form-control" id="OwnerEmail" data-bind="value: owner.email">
    </div>
</form>
