
<div class="container">
    <div class="row">
  
    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-5">Engine oil and filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.engineOilChangeAndFilter">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Air filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.airFilter">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Pollen filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.pollenFilter">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Fuel filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.fuelFilter">
                    </label>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-5">Break fluid</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.breakFluid">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Break Disc and Pads</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.breakDiscAndPads">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Gear oil or transmission fluid</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.gearOilOrTransmissionFluid">
                    </label>
                </div>
            </div>
        </div>
    </div>

 
    </div>
 

    <div class="form-group row">
        <div class="col-sm-3">Others:</div>
        <div class="col-sm-7">
            
            <textarea class="form-control" rows="5" data-bind="value: repaire.others"></textarea>
             
         </div>
    </div>
        <div class="form-group row">
            <div class="col-sm-3">Curent km:</div>
            <div class="col-sm-7">
              
                   
                        <input type="text" class="form-control" data-bind="value: repaire.currentKm">
                  
              
            </div>
        </div>
     <div class="form-group row">
        <div class="col-sm-3">Next visit km:</div>
        <div class="col-sm-7">
           
                    <input type="text" class="form-control" data-bind="value: repaire.nextVisitKm">
              
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">Next visit Date</div>
        <div class="col-sm-7">
           
                    <input type="date" class="form-control" data-bind="value: repaire.nextServiceDate">
        </div>

        
    </div>

    
</div>

