



<div class="container">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal"  data-bind="click: inputCar" data-target="#inputCarModal">Add</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Owner</th>
                <th>OwnerPhoneNumber</th>
                <th>Price</th>
                <th>History</th>
                <th>Repaires</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: services">
          
                
           <tr data-bind="style: {color : errorIndicator() ? 'red' : 'black' }">
              
                <td data-bind="text: identifier"></td>
                <td data-bind="text: owner.lastName"></td>
                <td data-bind="text: owner.phoneNumber"></td>
                <td>
                    <div class="row">
                        <div class="col-xs-3" >
                            <input class="form-control input-sm" id="ex1" type="text" data-bind="value: price " >
                        </div>
                        <div class="col-xs-1">
                            <span class="glyphicon glyphicon-euro" data-bind="style: {color : priceError() ? 'red' : 'black' }"></span>
                        </div>

                    </div>
                </td>
                <td><button type="button" class="btn-primary btn-sm" data-toggle="modal" data-bind="click: $root.history.bind($data)">History</button></td>
                <td><button type="button" class="btn-primary btn-sm" data-toggle="modal" data-bind="click: $root.setCarRepairesData.bind($data)">Repaires</button></td>
                <td><button type="button" class="btn-primary btn-sm" data-bind="click: $root.endedCar.bind($data)">Ended</button></td>
                <td>
                    <button type="button" class="close" data-bind="click:$root.deletCar.bind($data)" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </td>
            </tr>
            
        </tbody>
    </table>
    </div>

<div class="container">
    
    
    <!-- Modal -->
    <div class="modal fade" id="inputCarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" id="myModalLabel">Input Car</h4>

                    </div>
                    <div class="modal-body">@Html.Partial("_InputCar")</div>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info btn-lg" data-bind="click: addCar">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="inputRepairesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                        </button>
                        <h4 class="modal-title" data-bind="text: title"></h4>

                    </div>
                    <div class="modal-body">@Html.Partial("_Repaires")</div>
                    <div class="modal-footer" data-bind="visible: visibleRepaireButtons">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info btn-lg" data-bind="click: saveRepair">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

   