
<div class="container">
    <div class="row">
        <span>VIN: </span><input type="text" data-bind="value:getVin"><button data-bind="click: getHistorybyVIN"><span  class="glyphicon glyphicon-search"></span></button>
    </div>
</div>