
<div class="row" data-bind="visible: historyConsol">
    <div class="col-lg-12 col-lg-offset-20">
        <div class="col-lg-4">
            <button  class="btn-sm btn-outline-secondary" data-bind="click: firstHistory">
            <span  class="glyphicon glyphicon-fast-backward " aria-hidden="true"></span>
           </button>
            <button class="btn-sm btn-outline-secondary"  data-bind="click: previousHistory">
                <span class="glyphicon glyphicon glyphicon-backward" aria-hidden="true"></span>
</button>
</div>
        <div class="col-lg-4">
            <span data-bind="text: repaire.serviceDate">  </span>
        </div>
       
            <div class="col-lg-4">
                <button class="btn-sm btn-outline-secondary"  data-bind="click: nextHistory"><span class="glyphicon glyphicon-forward "></span></button>
                <button class="btn-sm btn-outline-secondary"  data-bind="click: lastHistory"><span class="glyphicon glyphicon-fast-forward "></span></button>
                    
                   
</div>
</div>
</div>
<br><br>