<div class="form-group row">
    <div class="col-sm-3">Others:</div>
    <div class="col-sm-7">

        <textarea class="form-control" rows="5" data-bind="value: repair.others"></textarea>

    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3" data-bind="style: {color : currentKmError() ? 'red' : 'black' }">Curent km:</div>
    <div class="col-sm-7">


        <input type="text" class="form-control" data-bind="value: repair.currentKm">


    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3" data-bind="style: {color : nextVisitKmError() ? 'red' : 'black' }">Next visit km:</div>
    <div class="col-sm-7">

        <input type="text" class="form-control" data-bind="value: repair.nextVisitKm">

    </div>
</div>
<div class="form-group row">
    <div class="col-sm-3" data-bind="style: {color : nextDerviceDateError() ? 'red' : 'black' }" >Next visit Date</div>
    <div class="col-sm-7">

        <input type="date" class="form-control" data-bind="value: repair.nextServiceDate">
    </div>
</div>

