
<div class="container">

    @Html.Partial("_HistoryConsol")
   

 
    
    <div class="row">
  
    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-5">Engine oil and filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <!--ko if: visibleRepaireButtons-->
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.engineOilChangeAndFilter">
                        <!-- /ko -->
                        <!--ko if: historyConsol-->
                        <input class="form-check-input" type="checkbox" disabled="disabled" data-bind="checked: repaire.engineOilChangeAndFilter">
                        <!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Air filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <!--ko if: visibleRepaireButtons-->
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.airFilter">
                        <!-- /ko -->
                        <!--ko if: historyConsol-->
                        <input class="form-check-input" type="checkbox" disabled="disabled" data-bind="checked: repaire.airFilter">
                        <!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Pollen filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <!--ko if: visibleRepaireButtons-->
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.pollenFilter">
                        <!-- /ko -->
                        <!--ko if: historyConsol-->
                        <input class="form-check-input" type="checkbox" disabled="disabled" data-bind="checked: repaire.pollenFilter">
                        <!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Fuel filter</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <!--ko if: visibleRepaireButtons-->
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.fuelFilter">
                        <!-- /ko -->
                        <!--ko if: historyConsol-->
                        <input class="form-check-input" type="checkbox" disabled="disabled" data-bind="checked: repaire.fuelFilter">
                        <!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-5">Break fluid</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <!--ko if: visibleRepaireButtons-->
                        <input class="form-check-input" type="checkbox"  data-bind="checked: repaire.breakFluid">
                        <!-- /ko -->
                        <!--ko if: historyConsol-->
                        <input class="form-check-input" type="checkbox" disabled="disabled" data-bind="checked: repaire.breakFluid">
                        <!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Break Disc and Pads</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <!--ko if: visibleRepaireButtons-->
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.breakDiscAndPads">
                        <!-- /ko -->
                        <!--ko if: historyConsol-->
                        <input class="form-check-input" type="checkbox" disabled="disabled" data-bind="checked: repaire.breakDiscAndPads">
                        <!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">Gear oil or transmission fluid</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <label class="form-check-label">
                        <!--ko if: visibleRepaireButtons-->
                        <input class="form-check-input" type="checkbox" data-bind="checked: repaire.gearOilOrTransmissionFluid">
                        <!-- /ko -->
                        <!--ko if: historyConsol-->
                        <input class="form-check-input" type="checkbox" disabled="disabled" data-bind="checked: repaire.gearOilOrTransmissionFluid">
                        <!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
    </div>

 
    </div>
   

    <div class="row" data-bind="if: visibleRepaireButtons">
        @Html.Partial("_InputRepaires")     
    </div>
    <div class="row" data-bind="if:  historyConsol">
        @Html.Partial("_Historyes")
    </div>

</div>

