@model Allamvizsga.Models.ServicesViewModel
@{
    ViewBag.Title = "Index";
}


<div class="container">

    <ul class="nav nav-tabs">
       
        <li class="active" id="users"><a data-toggle="tab" href="#menu">Curent Cars</a></li>
        <li><a data-toggle="tab" href="#menu1">History</a></li>
        
    </ul>

   

    <div class="tab-content">
        <div id="menu" class="tab-pane fade in active">
            <br>
            <br>
            @Html.Partial("_CurentCars")
        </div>
        <div id="menu1" class="tab-pane fade">
           


        </div>
        
    </div>
</div>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="~/Scripts/Services/ServiceModel.js"></script>
<script type="text/javascript" src="~/Scripts/Services/Dashboard.js"></script>
<script type="text/javascript" src="~/Scripts/Services/OwnerModel.js"></script>
<script type="text/javascript" src="~/Scripts/Services/RepaireModel.js"></script>
<script type="text/javascript" src="~/Scripts/Services/ErrorModel.js"></script>




<script type="text/javascript">
    InitializeDashboard(@Html.Raw(Json.Encode(Model)));
      
</script>
